/*---- MODAL ----*/

.uk-modal-dialog {
	min-width: 300px;
	margin-top: 20px;
}

.uk-modal-header {
	background: @cbase;
	padding: 10px 0 10px 20px;
	text-align: left;
	> h2 {
		font-size: 1.2em;
		color: @white;
		font-weight: bold;
	}
}

.uk-close-alt {
  background: @white;
  color: @cbase;
  box-shadow: none;
  border: 1px solid @cdark;
  &:hover {
  	background: @cbase;
  	color: @white;
  }
}

p.info-text {
	line-height: 1.7;

}

button.small {
	min-height: 20px;
	margin: 0 3px;
	padding: 0 5px;
	line-height: 16px;
	font-size: 12px
}
