/*---- COLORS ----*/
/* Linear- colors */
/* Linear+ colors */
/* Radial- colors */
/* radial+ colors */
/* Counter- colors */
/* Counter+ colors */
/* Gray colors */
/* Base Color */
/*---- FONT ----*/
/*---- BASE ----*/
html {
  background-color: #ffffff;
}
body {
  color: #00b898;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
a,
a:link,
a:visited {
  color: #00b898;
}
a:hover,
a:active {
  color: #00ab8d;
}
.button:hover {
  border-color: #00b898;
  color: #00b898;
}
.input:hover {
  border-color: #00b898;
}
.input:focus {
  border-color: #00b898;
}
span#subtitle1 {
  display: inline-block;
  margin-top: 10px;
}
span#subtitle2 {
  display: none;
}
/*---- BUTTON ----*/
.uk-button {
  color: rgba(255, 255, 255, 0.9);
  background: #00c5a3;
  text-shadow: none;
}
a.uk-button,
a:link.uk-button,
a:visited.uk-button {
  color: rgba(255, 255, 255, 0.9);
}
.uk-button:hover,
.uk-button:focus {
  background-color: #22cdaf;
  color: rgba(255, 255, 255, 0.9);
}
.uk-button:active,
.uk-button.uk-active {
  background-color: #00c5a3;
  color: rgba(255, 255, 255, 0.9);
}
.uk-button:disabled {
  background-color: #33d1b6;
  color: rgba(0, 0, 0, 0.2);
}
.uk-button-link {
  color: #00c5a3;
}
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active,
.uk-button-link.uk-active {
  color: #22cdaf;
  text-decoration: underline;
}
.uk-button-link:disabled {
  color: #33d1b6;
}
/*---- MENUE ----*/
.uk-navbar {
  padding: 5px 0;
  background: rgba(0, 197, 163, 0.75);
  border: none;
  border-bottom: 5px solid rgba(0, 197, 163, 0.9);
  txt-align: left;
}
.uk-navbar-content {
  padding: 0 10px;
}
.uk-navbar-brand {
  padding: 0 5px 0 0;
  display: inline-block;
  float: none;
}
.uk-navbar-toggle:hover {
  color: rgba(0, 168, 179, 0.75);
}
.uk-offcanvas-bar {
  width: 180px;
}
.copy {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.0em;
  -moz-text-shadow: 1px 1px 1px rgba(0, 184, 152, 0.7);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 184, 152, 0.7);
  -ms-text-shadow: 1px 1px 1px rgba(0, 184, 152, 0.7);
  text-shadow: 1px 1px 1px rgba(0, 184, 152, 0.7);
}
/*---- SUB-MENUES ----*/
ul.uk-nav-offcanvas li {
  text-align: left !important;
}
ul.uk-nav-offcanvas .uk-nav-sub li {
  padding: 3px 0 3px 8px;
}
ul.uk-nav-offcanvas .uk-nav-divider {
  border: none;
  height: 3px;
}
ul.uk-nav-offcanvas .uk-nav-divider.short {
  height: 2px;
  width: 80%;
}
/*---- LOGIN FORM ----*/
#login_form.uk-modal .uk-modal-header {
  background-color: #00c5a3;
}
#login_form.uk-modal .uk-modal-header h2 {
  color: rgba(255, 255, 255, 0.9);
}
#login_form.uk-modal .uk-close:after {
  color: rgba(255, 255, 255, 0.9);
}
/*---- MAIN ----*/
.container.main {
  margin: 10px;
}
